<%- include('./partials/dashboardHeader') %> <% function sum(arr) { s = 0; for
  (i = 0; i < arr.length; i++) s += arr[i]; return s } %>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 grid-margin text-center">
          <div class="card bg-linkedin">
            <div class="card-body">
              <%= tournament.name %>  Category : <%= category %>  
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <% for(match of matches){ %>
      <div class="row grid-margin stretch-card text-center" style="display: flex">
        <div class="col-md-3"></div>
        <div
          class="col-md-3 grid-margin grid-margin-md-0 m-0 p-0"
          style="flex: 1; "
        >
          <div class="card mb-4 m-0" style="border-radius: 0rem;">
            <img
                  src=<%= `/UserData/${match.player1Details._id}.jpeg` %>
                  class="rounded mb-2"
                  alt="profile image"
                  style="width: 100%; height: 18rem"
                />
            <div class="card-body p-0 text-center" style="max-height: 20rem;min-height: 14.5rem;">
              <div class="mb-4">
                
              </div>
              <h4><%= match.player1Details.name %></h4>
              <h4>Weight : <%= match.player1Details.weight %> kg</h4>
              <% if((currentPlayerId==match.player1Details._id.toString() &&
              match.player1VideoId!='blank')|| (match.player2VideoId!='blank' &&
              match.player1VideoId!='blank')){ %>
              <iframe
                width="100%"
                src="https://www.youtube.com/embed/<%= match.player1VideoId %>"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <% }else if((currentPlayerId==match.player1Details._id.toString() &&
              match.player1VideoId=='blank') && match.player2Details!=null){ %>
                <input
                  type="hidden"
                  id="matchId1"
                  class="params1"
                  name = 'matchId'
                  value="<%=match.match_id%>"
                />
                <input
                  type="hidden"
                  id="player1Id"
                  class="params1"
                  name='player1Id'
                  value="<%=match.player1Id%>"
                />
                <input type="hidden"
                name="player1DetailsId"
                class="params1"
                value = "<%= match.player1Details._id.toString()%>"
                >
 
                <input type="hidden"
                name="playerId"
                class="formData1 params1"
                value = "<%= match.player1Id%>"
                >
                <input
                  name="tournamentUrl"
                  type="hidden"
                  class="formData1"
                  value="<%=tournamentUrl%>"
                />
                <input
                  name="contestantId"
                  type="hidden"
                  class="formData1"
                  id="currentPlayerId1"
                  value="<%=currentPlayerId%>"
                />
                <input
                  name="playerId"
                  type="hidden"
                  id="playerId1"
                  class="params1"
                  value="<%=match.player1Id%>"
                />
                <div class="p-2">
                <input
                  type="text"
                  id="videoLink1"
                  class="form-control videoUrl m-2 formData1"
                  placeholder="Enter Video Link"
                  name="videoId"
                  pattern='.+'
                />
                </div>
                <button class="btn btn-sm  btn-primary m-3" onclick="showSwal('submit-video-confirmation1')">Submit</button>
              
              <% } %> <%if(match.isWinner==match.player1Id &&
              match.isWinner!=null){ %>
              <div class="p-2">
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: #43a047;"
              >
                Won This Round!
              </div>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: #43a047;border-color: #43a047;"
              >
                Total Score : <%=
                Math.round(sum(Object.values(match.player1Score)) * 100) / 100 %>
              </div>
              <% }else if(match.isWinner!=match.player1Id &&
              match.isWinner!=null){ %>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: red; border-color: red"
              >
                Lost This Round!
              </div>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: red; background-color: transparent"
              >
                Total Score : <%=
                Math.round(sum(Object.values(match.player1Score)) * 100) / 100 %>
              </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <% if(match.player2Details!=null){ %>
        <div
          class="col-md-3 grid-margin grid-margin-md-0 m-0 p-0"
          style="flex:1"
        >
          <div class="card mb-4 m-0" style="border-radius: 0rem;" >
            <img
                  src = <%= `/UserData/${match.player2Details._id}.jpeg` %> 
                  class="rounded mb-2"
                  alt="profile image"
                  style="width: 100%; height: 18rem"
                />
            <div class="card-body p-0 text-center" style="max-height: 20rem; min-height: 14.5rem;" >
              <div class="mb-4">
               
              </div>
              <h4><%= match.player2Details.name %></h4>
              <h4>Weight : <%= match.player2Details.weight %> kg</h4>
              <% if((currentPlayerId==match.player2Details._id.toString() &&
              match.player2VideoId!='blank')|| (match.player1VideoId!='blank' &&
              match.player2VideoId!='blank')){ %>
              <iframe
                width="100%"
                src="https://www.youtube.com/embed/<%= match.player2VideoId %>"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <% }else if((currentPlayerId==match.player2Details._id.toString() &&
              match.player2VideoId=='blank') && match.player1Details!=null){ %>
           
                <input
                  type="hidden"
                  id="matchId2"
                  class="params2"
                  name = 'matchId'
                  value="<%=match.match_id%>"
                />
                <input
                  type="hidden"
                  id="player2Id"
                  class="params2"
                  name='player2Id'
                  value="<%=match.player1Id%>"
                />
                <input type="hidden"
                name="player2DetailsId"
                class="params2"
                value = "<%= match.player1Details._id.toString()%>"
                >
 
                <input type="hidden"
                name="playerId"
                class="formData2 params2"
                value = "<%= match.player2Id%>"
                >
                <input
                  name="tournamentUrl"
                  type="hidden"
                  class="formData2"
                  value="<%=tournamentUrl%>"
                />
                <input
                  name="contestantId"
                  type="hidden"
                  class="formData2"
                  id="currentPlayerId2"
                  value="<%=currentPlayerId%>"
                />
                <input
                  name="playerId"
                  type="hidden"
                  id="playerId2"
                  class="params2"
                  value="<%=match.player2Id%>"
                />
                <div class="p-2">
                <input
                  type="text"
                  id="videoLink2"
                  class="form-control formData2"
                  placeholder="Enter Video Link"
                  name="videoId"
                  pattern='.+'
                />
              </div>
                <button class="btn btn-sm btn-primary m-3" onclick="showSwal('submit-video-confirmation2')">Submit</button>
              
              <% } %> <%if(match.isWinner==match.player2Id &&
              match.isWinner!=null){ %>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: #43a047"
              >
                Won This Round!
              </div>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: #43a047; background-color: transparent"
              >
                Total Score : <%=
                Math.round(sum(Object.values(match.player2Score)) * 100) / 100 %>
              </div>
              <% }else if(match.isWinner!=match.player2Id &&
              match.isWinner!=null){ %>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: red"
              >
                Lost This Round!!!!
              </div>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: red; background-color: transparent"
              >
                Total Score : <%=
                Math.round(sum(Object.values(match.player2Score)) * 100) / 100 %>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <% } %>
        </div>
        <% } %> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="/js/alerts.js"></script>
        <script src="/js/avgrund.js"></script>
        <%- include('./partials/dashboardFooter') %>
      </div>
    </div>
  </div>
  