<%- include('./partials/dashboardHeader') %> 
<% function sum(arr) { s = 0; for(i = 0; i < arr.length; i++) s += arr[i]; return s } %>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 grid-margin text-center">
          <div class="card bg-linkedin">
            <div class="card-body">
              <%= tournament.name %>  Category : <%= category %>  
              <h6><%= matchStats.length==0?'Congrats ! You are already in the next round':'' %> </h6>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <% for(match of matchStats){ %>
      <div class="row grid-margin stretch-card text-center" style="display: flex">
        <div class="col-md-3"></div>
        <div
          class="col-md-3 grid-margin grid-margin-md-0 stretch-card m-0 p-1"
          style="flex: 1"
        >
          <div class="card mb-4 m-0">
            <div class="card-body text-center">
              <div class="mb-4">
                <img
                  src=<%= `/UserData/${match.player1Details._id}.jpeg` %>
                  class="rounded mb-2"
                  alt="profile image"
                  style="width: 200px; height: 200px"
                />
              </div>
              <h4><%= match.player1Details.name %></h4>
              <h4>Weight : <%= match.player1Details.weight %> kg</h4>
              <% if((currentPlayerId==match.player1Details._id.toString() &&
              match.player1VideoId!='blank')|| (match.player2VideoId!='blank' &&
              match.player1VideoId!='blank')){ %>
              <iframe
                width="100%"
                src="https://www.youtube.com/embed/<%= match.player1VideoId %>"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <% }else if((currentPlayerId==match.player1Details._id.toString() &&
              match.player1VideoId=='blank') && match.player2Details!=null){ %>
              <form
                action="/uploadVideo/<%= match.match_id %>/<%= match.player1Id %>/<%= currentPlayerId==match.player1Details._id.toString() ? 1:2%>"
                method="post"
              >
                <input
                  name="tournamentUrl"
                  type="hidden"
                  value="<%=tournamentUrl%>"
                />
                <input
                  name="contestantId"
                  type="hidden"
                  value="<%=currentPlayerId%>"
                />
                <input
                  name="playerId"
                  type="hidden"
                  value="<%=match.player1Id%>"
                />
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Video Link"
                  name="videoId"
                  pattern='.+'
                />
                <button class="btn btn-sm btn-primary m-3">Submit</button>
              </form>
              <% } %> <%if(match.isWinner==match.player1Id &&
              match.isWinner!=null){ %>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: #43a047; background-color: transparent"
              >
                Won This Round!
              </div>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: #43a047"
              >
                Total Score : <%=
                Math.round(sum(Object.values(match.player1Score)) * 100) / 100 %>
              </div>
              <% }else if(match.isWinner!=match.player1Id &&
              match.isWinner!=null){ %>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: red; border-color: transparent"
              >
                Lost This Round!
              </div>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: red; background-color: transparent"
              >
                Total Score : <%=
                Math.round(sum(Object.values(match.player1Score)) * 100) / 100 %>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <% if(match.player2Details!=null){ %>
        <div
          class="col-md-3 grid-margin grid-margin-md-0 stretch-card m-0 p-1"
          style="flex: 1"
        >
          <div class="card mb-4 m-0">
            <div class="card-body text-center">
              <div class="mb-4">
                <img
                  src = <%= `/UserData/${match.player2Details._id}.jpeg` %> 
                  class="rounded mb-2"
                  alt="profile image"
                  style="width: 200px; height: 200px"
                />
              </div>
              <h4><%= match.player2Details.name %></h4>
              <h4>Weight : <%= match.player2Details.weight %> kg</h4>
              <% if((currentPlayerId==match.player2Details._id.toString() &&
              match.player2VideoId!='blank')|| (match.player1VideoId!='blank' &&
              match.player2VideoId!='blank')){ %>
              <iframe
                width="100%"
                src="https://www.youtube.com/embed/<%= match.player2VideoId %>"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <% }else if((currentPlayerId==match.player2Details._id.toString() &&
              match.player2VideoId=='blank') && match.player1Details!=null){ %>
              <form
                action="/uploadVideo/<%= match.match_id %>/<%= match.player2Id %>/<%= currentPlayerId==match.player2Details._id.toString() ? 2:1%>"
                method="post"
              >
                <input
                  name="tournamentUrl"
                  type="hidden"
                  value="<%=tournamentUrl%>"
                />
                <input
                  name="contestantId"
                  type="hidden"
                  value="<%=currentPlayerId%>"
                />
                <input
                  name="playerId"
                  type="hidden"
                  value="<%=match.player2Id%>"
                />
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Video Link"
                  name="videoId"
                  pattern='.+'
                />
                <button class="btn btn-sm btn-primary m-3">Submit</button>
              </form>
              <% } %> <%if(match.isWinner==match.player2Id &&
              match.isWinner!=null){ %>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: #43a047"
              >
                Won This Round!
              </div>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: #43a047; background-color: transparent"
              >
                Total Score : <%=
                Math.round(sum(Object.values(match.player2Score)) * 100) / 100 %>
              </div>
              <% }else if(match.isWinner!=match.player2Id &&
              match.isWinner!=null){ %>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: red"
              >
                Lost This Round!!!!
              </div>
              <div
                class="btn btn-block btn-primary btn-sm mt-2"
                style="background: red; background-color: transparent"
              >
                Total Score : <%=
                Math.round(sum(Object.values(match.player2Score)) * 100) / 100 %>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <% }else{ %>
        <div class="col-md-3 grid-margin grid-margin-md-0 stretch-card">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img
                src="/UserData/question.png"
                class="rounded mb-2"
                alt="profile image"
                style="width: 200px; height: 200px"
              />
            </div>
          </div>
          <% } %>
        </div>

        <% } %> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="/js/alerts.js"></script>
      <script src="/js/avgrund.js"></script>
        <%- include('./partials/dashboardFooter') %>
      </div>
    </div>
  </div>
  